.detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .hospital-pic {
    width: 400px;
    height: 220px;
    background: #ccc;
    div {
      width: 400px !important;
      height: 220px !important;
    }
  }
  .info {
    flex: 1;
  }
}
.content-rate {
  display: flex;
  justify-content: space-between;
  //   align-items: center;
}
.label {
  display: inline-block;
  width: 120px;
}
