.search {
  margin-top: 20px;
}
.tag {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.gutter-row {
  width: 150px !important;
  border: 1px solid #000;
}
.gutter-row:hover {
  background: #e8e8e8;
}
.tag-item {
  text-align: center;
}
.content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-left {
  flex: 1;
  //   margin-top: 20px;
  padding: 10px 30px;
  background-color: #fff;
}
.content-right {
  height: 50px;
  border-left: 1px;
}

.margin-right-5 {
  margin-left: 5px;
}
.bottom-more {
  text-align: center;
  margin-bottom: 10px;
}
.content-rate {
  display: flex;
  justify-content: space-between;
  //   align-items: center;
}
.label {
  display: inline-block;
  width: 100px;
}
