#apppage .gradient {
    background: -moz-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
    background: -o-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
    background: linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
  }
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  #apppage .view {
    background-image: url('../image/cool-background.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  #apppage h6 {
    line-height: 1.7;
  }
  
  @media only screen and (max-width: 400px) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
  }
  @media only screen and (max-width: 767px) {
    #apppage .animated img {
      max-height: 35vh;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  
  @media (max-width: 767px) and (orientation: landscape) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }
  @media (max-width: 1000px) and (orientation: landscape) {
    #apppage .view {
      min-height: 150vh;
    }
  }